[main]
    logdir            = /var/log/puppet
    rundir            = /var/run/puppet
    ssldir            = $vardir/ssl
    dns_alt_names     = <server_fqdn>,<server_short_name>
    hiera_config      = /etc/puppet/hiera.yaml
    environmentpath   = /etc/puppet/environments
    server            = <master's fqdn>
    trusted_node_data = true
    parser            = future

[agent]
    classfile       = $vardir/classes.txt
    localconfig     = $vardir/localconfig
    server          = <master's fqdn>
    environment     = cloud
