[main]
    logdir          = /var/log/puppet
    rundir          = /var/run/puppet
    ssldir          = $vardir/ssl
    dns_alt_names   = <server_fqdn>,<server_short_name>
    hiera_config    = /etc/puppet/hiera.yaml
    environmentpath = /etc/puppet/environments
    server          = <server_fqdn>

[agent]
    classfile       = $vardir/classes.txt
    localconfig     = $vardir/localconfig
    server          = <server_fqdn>
    environment     = cloud
