---
roles:
  chrony:
    allow: 'f.f.f.f/24'


classes:
 - class_name

# -----------------------
# 'dnsmasq' class options
# -----------------------
#
dnsmasq::config::iface: 'iface_name'
dnsmasq::config::allow_forward: false
dnsmasq::config::forward_to:
 - 'server=x.x.x.x'
 - 'server=y.y.y.y'

# ----------------
# 'chrony' options
# ----------------
#
# Pool name. Default: pool.ntp.org
#chrony::config::pool: 'pool.ntp.org'

# use 'pool' or doesn't use 'pool'. Default: true
#chrony::config::use_pool: true|false

# if use_pool: false, specify server list
#chrony::config::servers:
# - 'x.x.x.x'
# - 'y.y.y.y'
# - 'z.z.z.z'


# ----------------------
# Override defaults.yaml
# ----------------------
#
configs::resolv_conf::nameserver0: 127.0.0.1


# ------------------
# Additions packages
# ------------------
#
#pkgs_additions:
#  xxxx: {ensure: present}


# ----------------
# Additional repos
# ----------------
#
repos_additional:
  xxxxx:
    descr: xxxxx
    baseurl: 'https://xxxx'
